:root {
    --text-white: #f8f8f8;
    --text-black: #222222;
    --bg-yellow: #ffce10;
    --bg-black: #222222;
    --bg-darkergray: #333333;
    --bg-darkgray: #444444;
    --bg-gray: #555555;
    --bg-lightgray: #cccccc;
    --bg-lightergray: #dddddd;
    --bg-lightyellow: #f8e496;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input {
    font-size: 15px;
}

th {
    text-align: right;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, Sans-serif;
    background-color: #ffffff;
}

    body > input[type=checkbox] {
        display: none;
    }

    body > header {
        position: fixed;
        width: 100%;
        height: 40px;
        top: 0;
        left: 0;
        background-color: var(--bg-black);
        color: var(--text-white);
        z-index: 1;
    }

        body > header > div.auth {
            text-align: right;
            line-height: 40px;
            margin-right: 50px;
        }

            body > header > div.auth > a,
            body > header > div.auth > a:visited,
            body > header > div.auth > a:active,
            body > header > div.auth > a:focus {
                margin-left: 10px;
            }

                body > header > div.auth > a:hover {
                    text-decoration: none;
                }

        body > header > div.headerLogo {
            position: fixed;
            top: 5px;
            right: 5px;
        }

    body > nav {
        position: fixed;
        background-color: var(--bg-darkgray);
        color: var(--text-white);
        width: 250px;
        height: calc(100vh - 40px);
        top: 40px;
        left: -250px;
        transition: left 0.5s ease;
        box-sizing: border-box;
    }

    body > main {
        position: absolute;
        left: 0;
        top: 40px;
        box-sizing: border-box;
        transition: margin-left 0.5s ease;
        width: calc(100vw - 250px);
        max-width: 100vw;
        height: calc(100vh - 40px);
        overflow-y: auto;
        padding: 10px;
        z-index: 5;
    }

        body > main > div.welcome {
            text-align: center;
        }

#menu-toggle-icon {
    position: fixed;
    top: 2.5px;
    left: 2.5px;
    z-index: 2;
    width: 30px;
    height: 30px;
    border: solid 2px #000000;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#menu-toggle-button:checked ~ #menu-toggle-icon {
    transform: rotateY(180deg);
}

#menu-toggle-button:checked ~ nav {
    left: 0;
}

#menu-toggle-button:checked ~ main {
    margin-left: 250px;
}

nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        nav ul li > span,
        nav ul li a {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            padding-left: 10px;
        }

        nav ul li > a.active {
            background-color: #555555;
        }

        nav ul li > span {
            margin-top: 20px;
            background-color: #333333;
            font-weight: bold;
        }

            nav ul li > span > span[class~=fa-solid] {
                margin-right: 10px;
            }

        nav ul li a:hover {
            background-color: #666666;
        }

        nav ul li a > span {
            margin-right: 10px;
        }


nav a {
    text-decoration: none;
}

a, a:visited, a:active, a:focus {
    color: inherit;
}





.Import {
    background-color: #f8f8f8;
    border: solid 1px #bbb;
    display: inline-block;
}

    .Import ul.Steps {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        list-style: none;
        font-weight: bold;
        color: #222222;
        background-color: var(--bg-yellow);
    }

        .Import ul.Steps li {
            display: inline-block;
            margin-right: 20px;
        }

            .Import ul.Steps li.active {
                border-bottom: solid 2px var(--bg-black);
            }

.ImportSelectFolder {
    margin: 10px 20px;
}

    .ImportSelectFolder .SelectedFolder span {
        position: relative;
        top: -9px;
    }

    .ImportSelectFolder .SelectedFolder div {
        display: inline-block;
        background-color: #fff;
        border: solid 1px #bbb;
    }

    .ImportSelectFolder .SelectedFolder ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .ImportSelectFolder .SelectedFolder ul li {
            float: left;
        }

    .ImportSelectFolder .SelectedFolder button {
        display: block;
        padding: 5px 0;
        border: solid 1px transparent;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
    }

        .ImportSelectFolder .SelectedFolder button:hover {
            background-color: #e5f3ff;
            border: solid 1px #cce8ff;
        }

        .ImportSelectFolder .SelectedFolder button:focus {
            outline: none;
        }

        .ImportSelectFolder .SelectedFolder button:after {
            content: '\\';
        }

    .ImportSelectFolder .SelectedFolder li:first-child button:after {
        content: '>';
        padding: 0 5px;
    }

    .ImportSelectFolder .SelectedFolder li:last-child button:after {
        content: '';
        margin-left: 0;
        padding: 0;
    }

    .ImportSelectFolder .SelectedFolder li:nth-child(2) button:after {
        content: '';
    }

    .ImportSelectFolder .SelectedFolder li:first-child button {
        margin-left: 0;
        padding-left: 5px;
    }

    .ImportSelectFolder .SelectedFolder li:last-child button {
        padding-right: 5px;
    }

.Import .AvailableFolders {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #bbb;
    margin: 10px 0;
    max-height: 50vh;
    overflow-y: scroll;
}

    .Import .AvailableFolders ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .Import .AvailableFolders ul li {
            margin: 0;
            padding: 0;
        }

            .Import .AvailableFolders ul li.NoPermission {
                font-weight: bold;
                color: #b44;
            }

    .Import .AvailableFolders button {
        display: block;
        width: 100%;
        margin: 0;
        padding: 2px 2px 2px 25px;
        border: 0;
        text-align: left;
        border: solid 1px transparent;
        background-color: transparent;
        background-image: url("../../../img/folder_16.png");
        background-repeat: no-repeat;
        background-position: left center;
        cursor: pointer;
    }

        .Import .AvailableFolders button:hover {
            background-color: #e5f3ff;
            border: solid 1px #cce8ff;
        }

        .Import .AvailableFolders button:focus {
            outline: none;
        }

.Import .NextBack {
    padding-top: 10px;
}

    .Import .NextBack button {
        float: right;
        margin: 5px 5px 5px 0;
    }

.Import .Error {
    text-align: center;
    font-weight: bold;
    color: #b44;
}

.Import .ImportSelectFiles {
    padding: 10px;
}

.Import .FileListProperties {
    margin-bottom: 20px;
}

.Import .ImportVerifyMetadata {
    margin-left: 10px;
}

    .Import .ImportVerifyMetadata div.drag-on {
        border-bottom: solid 2px var(--bg-black);
    }

    .Import .ImportVerifyMetadata div[draggable="true"] .td:first-child,
    .Import .ImportVerifyMetadata div[draggable="true"] .td:first-child * {
        pointer-events: none;
    }

    .Import .ImportVerifyMetadata input {
        background-color: transparent;
        border: solid 1px transparent;
        border-radius: 0;
    }

        .Import .ImportVerifyMetadata input:focus {
            background-color: var(--text-white);
            border: solid 1px var(--bg-darkgray);
            border-radius: 0;
        }

        .Import .ImportVerifyMetadata input.Number {
            max-width: 20px;
            text-align: center;
        }

        .Import .ImportVerifyMetadata input.Duration {
            width: 70px;
        }

    .Import .ImportVerifyMetadata .fa-solid {
        color: var(--bg-darkgray);
    }

    .Import .ImportVerifyMetadata .AlbumInfo:not(:first-child) {
        margin-top: 40px;
        border-top: solid 2px var(--bg-darkgray);
        padding-top: 20px;
    }

    .Import .ImportVerifyMetadata .AlbumInfo .AlbumCover {
        float: right;
        padding-right: 10px;
        text-align: center;
    }

        .Import .ImportVerifyMetadata .AlbumInfo .AlbumCover img {
            height: 150px;
        }

    .Import .ImportVerifyMetadata .AlbumInfo input.Title {
        font-size: 2em;
        width: 800px;
    }

    .Import .ImportVerifyMetadata .AlbumInfo th {
        font-size: 0.9em;
        text-align: left;
    }

    .Import .ImportVerifyMetadata .AlbumInfo table input[type="text"] {
        width: 700px;
    }

    .Import .ImportVerifyMetadata .AlbumInfo .AlreadyExists {
        font-weight: bold;
        color: red;
    }

    .Import .ImportVerifyMetadata .MediaInfo {
        clear: both;
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

        .Import .ImportVerifyMetadata .MediaInfo input {
            font-weight: bold;
            font-size: 1em;
        }

    .Import .ImportVerifyMetadata .FakeTable .th {
        font-weight: bold;
        font-size: 0.9em;
        text-align: center;
        border-left: solid 1px #ccc;
        background-color: #eee;
        padding: 5px;
    }

    .Import .ImportVerifyMetadata .FakeTable .td {
        padding-left: 5px;
    }

    .Import .ImportVerifyMetadata .FakeTable .th:first-child {
        border-left: none;
    }

    .Import .ImportVerifyMetadata .FakeTable .th:nth-child(5) {
        text-align: left;
    }

    .Import .ImportVerifyMetadata .FakeTable .th,
    .Import .ImportVerifyMetadata .FakeTable .td {
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
    }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(1),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(1) {
            width: 30px;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(2),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(2) {
            width: 70px;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(3),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(3) {
            width: 80px;
            text-align: left;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(4),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(4) {
            width: 80px;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(5),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(5) {
            width: 550px;
            text-align: left;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(6),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(6) {
            width: 200px;
            text-align: left;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(6),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(6) {
            width: 200px;
            text-align: left;
        }

    .Import .ImportVerifyMetadata .Track input.Title {
        min-width: 550px;
    }

    .Import .ImportVerifyMetadata .Track input.Artist,
    .Import .ImportVerifyMetadata .Track input.Composer {
        min-width: 200px;
    }

    /* Remove spinner on input type=number */
    /* Chrome, Safari, Edge, Opera */
    .Import .ImportVerifyMetadata input::-webkit-outer-spin-button, .Import .ImportVerifyMetadata input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    .Import .ImportVerifyMetadata input[type=number] {
        -moz-appearance: textfield;
    }

.Import .ImportDoImport {
    margin: 10px;
}

    .Import .ImportDoImport div {
        margin-bottom: 10px;
    }

.FileList th {
    text-align: right;
    border-right: solid 1px #ccc;
    padding: 10px;
    background-color: #eee;
}

    .FileList th:first-child {
        text-align: left;
    }

.FileList tbody tr:hover {
    background-color: #fff;
}

.FileList tbody td {
    padding: 5px;
    cursor: default;
}

    .FileList tbody td:not(:first-child) {
        text-align: right;
        padding-right: 10px;
    }

.TinyDelete {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 3px;
    cursor: pointer;
}

table.Editor th {
    text-align: left;
    padding-right: 5px;
}

table.DraggableTable {
    border-spacing: 0;
}

    table.DraggableTable tr td {
        padding: 2px 5px;
    }

    table.DraggableTable tr.drag-on td {
        border-top: solid 25px var(--bg-lightyellow);
    }

    table.DraggableTable tr.drag-current {
        display: none;
    }

nav li.Submenu ul a {
    font-size: 0.8em;
    margin-left: 30px;
    width: calc(100% - 30px);
}

.Submenu a div {
    display: inline-block;
}

.Submenu input[type=checkbox] {
    display: none;
}

.Submenu label {
    display: block;
    float: right;
}

.Submenu label {
    display: flex;
    width: 20px;
    height: 40px;
    background-color: var(--bg-darkgray);
    cursor: pointer;
    z-index: 20;
}

    .Submenu label span {
        display: inline-block;
        margin: auto;
        transform: rotateZ(-90deg);
    }

.Submenu input[type=checkbox]:checked ~ label span {
    transform: rotateZ(90deg);
}

.Submenu > a {
    width: calc(100% - 20px);
}


    .Submenu > a:hover ~ label,
    .Submenu label:hover {
        background-color: var(--bg-gray);
    }


.Submenu input[type=checkbox] ~ ul {
    display: none
}

.Submenu input[type=checkbox]:checked ~ ul {
    display: block;
}


table.Standard {
    border-collapse: collapse;
}
    table.Standard th {
        text-align: left;
        background-color: var(--bg-lightgray);
        padding: 5px;
    }
    table.Standard td {
        border: solid 1px var(--bg-lightergray);
        padding: 1px 5px;
        vertical-align: top;
    }
    table.Standard tr:hover td {
        background-color: var(--bg-lightergray);
    }