

.path-list {
    padding: 5px 0.5rem;
    border: 1px solid var(--bg-lightgray);
    border-radius: 4px;
    grid-column: span 9;
}

    .path-list:hover {
        border-color: var(--bg-darkgray);
    }

    .path-list:focus-within {
        border-color: var(--primary-color);
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
    }

    .path-list ul {
        list-style: none;
        display: flex;
    }

    .path-list li button {
        display: block;
        padding: 4px 0;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

        .path-list li button:hover {
            background-color: var(--bg-lightyellow);
        }

        .path-list li button::after {
            content: '\\';
        }

    .path-list li:first-child button {
        padding-right: 5px;
    }

        .path-list li:first-child button::after {
            content: '>';
            margin-left: 5px;
        }

.folder-list {
    border: 1px solid var(--bg-lightgray) !important;
    border-radius: 4px;
    grid-column: span 9;
    border: solid 1px
}

    .folder-list:hover {
        border-color: var(--bg-darkgray) !important;
    }

    .folder-list:focus-within {
        border-color: var(--primary-color) !important;
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
    }

.folder-list-header,
.folder-list-body {
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.folder-list-header {
    font-weight: bold;
    background-color: var(--bg-lightergray);
    margin-bottom: 0.5rem;
}

.folder-list-body {
    margin: 0;
}

    .folder-list-body button {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
        text-align: left;
        margin: 0;
        padding: 0.5rem 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    }

        .folder-list-body button:hover {
            background-color: var(--hover-bg);
        }

        .folder-list-body button span.fa-solid {
            margin-right: 0.5rem;
        }

.folder-list .card-grid {
    gap: 0;
}










/* Everything below to be deleted */



.Import {
    background-color: #f8f8f8;
    border: solid 1px #bbb;
    display: inline-block;
}

    .Import ul.Steps {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        list-style: none;
        font-weight: bold;
        color: #222222;
        background-color: var(--bg-yellow);
    }

        .Import ul.Steps li {
            display: inline-block;
            margin-right: 20px;
        }

            .Import ul.Steps li.active {
                border-bottom: solid 2px var(--bg-black);
            }

.ImportSelectFolder {
    margin: 10px 20px;
}

    .ImportSelectFolder .SelectedFolder span {
        position: relative;
        top: -9px;
    }

    .ImportSelectFolder .SelectedFolder div {
        display: inline-block;
        background-color: #fff;
        border: solid 1px #bbb;
    }

    .ImportSelectFolder .SelectedFolder ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .ImportSelectFolder .SelectedFolder ul li {
            float: left;
        }

    .ImportSelectFolder .SelectedFolder button {
        display: block;
        padding: 5px 0;
        border: solid 1px transparent;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
    }

        .ImportSelectFolder .SelectedFolder button:hover {
            background-color: #e5f3ff;
            border: solid 1px #cce8ff;
        }

        .ImportSelectFolder .SelectedFolder button:focus {
            outline: none;
        }

        .ImportSelectFolder .SelectedFolder button:after {
            content: '\\';
        }

    .ImportSelectFolder .SelectedFolder li:first-child button:after {
        content: '>';
        padding: 0 5px;
    }

    .ImportSelectFolder .SelectedFolder li:last-child button:after {
        content: '';
        margin-left: 0;
        padding: 0;
    }

    .ImportSelectFolder .SelectedFolder li:nth-child(2) button:after {
        content: '';
    }

    .ImportSelectFolder .SelectedFolder li:first-child button {
        margin-left: 0;
        padding-left: 5px;
    }

    .ImportSelectFolder .SelectedFolder li:last-child button {
        padding-right: 5px;
    }

.Import .AvailableFolders {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #bbb;
    margin: 10px 0;
    max-height: 50vh;
    overflow-y: scroll;
}

    .Import .AvailableFolders ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .Import .AvailableFolders ul li {
            margin: 0;
            padding: 0;
        }

            .Import .AvailableFolders ul li.NoPermission {
                font-weight: bold;
                color: #b44;
            }

    .Import .AvailableFolders button {
        display: block;
        width: 100%;
        margin: 0;
        padding: 2px 2px 2px 25px;
        border: 0;
        text-align: left;
        border: solid 1px transparent;
        background-color: transparent;
        background-image: url("../../../img/folder_16.png");
        background-repeat: no-repeat;
        background-position: left center;
        cursor: pointer;
    }

        .Import .AvailableFolders button:hover {
            background-color: #e5f3ff;
            border: solid 1px #cce8ff;
        }

        .Import .AvailableFolders button:focus {
            outline: none;
        }

.Import .NextBack {
    padding-top: 10px;
}

    .Import .NextBack button {
        float: right;
        margin: 5px 5px 5px 0;
    }

.Import .Error {
    text-align: center;
    font-weight: bold;
    color: #b44;
}

.Import .ImportSelectFiles {
    padding: 10px;
}

.Import .FileListProperties {
    margin-bottom: 20px;
}

.Import .ImportVerifyMetadata {
    margin-left: 10px;
}

    .Import .ImportVerifyMetadata div.drag-on {
        border-bottom: solid 2px var(--bg-black);
    }

    .Import .ImportVerifyMetadata div[draggable="true"] .td:first-child,
    .Import .ImportVerifyMetadata div[draggable="true"] .td:first-child * {
        pointer-events: none;
    }

    .Import .ImportVerifyMetadata input {
        background-color: transparent;
        border: solid 1px transparent;
        border-radius: 0;
    }

        .Import .ImportVerifyMetadata input:focus {
            background-color: var(--text-white);
            border: solid 1px var(--bg-darkgray);
            border-radius: 0;
        }

        .Import .ImportVerifyMetadata input.Number {
            max-width: 20px;
            text-align: center;
        }

        .Import .ImportVerifyMetadata input.Duration {
            width: 70px;
        }

    .Import .ImportVerifyMetadata .fa-solid {
        color: var(--bg-darkgray);
    }

    .Import .ImportVerifyMetadata .AlbumInfo:not(:first-child) {
        margin-top: 40px;
        border-top: solid 2px var(--bg-darkgray);
        padding-top: 20px;
    }

    .Import .ImportVerifyMetadata .AlbumInfo .AlbumCover {
        float: right;
        padding-right: 10px;
        text-align: center;
    }

        .Import .ImportVerifyMetadata .AlbumInfo .AlbumCover img {
            height: 150px;
        }

    .Import .ImportVerifyMetadata .AlbumInfo input.Title {
        font-size: 2em;
        width: 800px;
    }

    .Import .ImportVerifyMetadata .AlbumInfo th {
        font-size: 0.9em;
        text-align: left;
    }

    .Import .ImportVerifyMetadata .AlbumInfo table input[type="text"] {
        width: 700px;
    }

    .Import .ImportVerifyMetadata .AlbumInfo .AlreadyExists {
        font-weight: bold;
        color: red;
    }

    .Import .ImportVerifyMetadata .MediaInfo {
        clear: both;
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

        .Import .ImportVerifyMetadata .MediaInfo input {
            font-weight: bold;
            font-size: 1em;
        }

    .Import .ImportVerifyMetadata .FakeTable .th {
        font-weight: bold;
        font-size: 0.9em;
        text-align: center;
        border-left: solid 1px #ccc;
        background-color: #eee;
        padding: 5px;
    }

    .Import .ImportVerifyMetadata .FakeTable .td {
        padding-left: 5px;
    }

    .Import .ImportVerifyMetadata .FakeTable .th:first-child {
        border-left: none;
    }

    .Import .ImportVerifyMetadata .FakeTable .th:nth-child(5) {
        text-align: left;
    }

    .Import .ImportVerifyMetadata .FakeTable .th,
    .Import .ImportVerifyMetadata .FakeTable .td {
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
    }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(1),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(1) {
            width: 30px;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(2),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(2) {
            width: 70px;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(3),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(3) {
            width: 80px;
            text-align: left;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(4),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(4) {
            width: 80px;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(5),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(5) {
            width: 550px;
            text-align: left;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(6),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(6) {
            width: 200px;
            text-align: left;
        }

        .Import .ImportVerifyMetadata .FakeTable .th:nth-child(6),
        .Import .ImportVerifyMetadata .FakeTable .td:nth-child(6) {
            width: 200px;
            text-align: left;
        }

    .Import .ImportVerifyMetadata .Track input.Title {
        min-width: 550px;
    }

    .Import .ImportVerifyMetadata .Track input.Artist,
    .Import .ImportVerifyMetadata .Track input.Composer {
        min-width: 200px;
    }

    /* Remove spinner on input type=number */
    /* Chrome, Safari, Edge, Opera */
    .Import .ImportVerifyMetadata input::-webkit-outer-spin-button, .Import .ImportVerifyMetadata input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    .Import .ImportVerifyMetadata input[type=number] {
        -moz-appearance: textfield;
    }

.Import .ImportDoImport {
    margin: 10px;
}

    .Import .ImportDoImport div {
        margin-bottom: 10px;
    }





.FileList th {
    text-align: right;
    border-right: solid 1px #ccc;
    padding: 10px;
    background-color: #eee;
}

    .FileList th:first-child {
        text-align: left;
    }

.FileList tbody tr:hover {
    background-color: #fff;
}

.FileList tbody td {
    padding: 5px;
    cursor: default;
}

    .FileList tbody td:not(:first-child) {
        text-align: right;
        padding-right: 10px;
    }