

.path-list {
    padding: 5px 0.5rem;
    border: 1px solid var(--form-border);
    background-color: var(--form-bg);
    border-radius: 4px;
    grid-column: span 9;
}

    .path-list:hover {
        border-color: var(--table-hover);
    }

    .path-list:focus-within {
        border-color: var(--form-accent);
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
    }

    .path-list ul {
        list-style: none;
        display: flex;
    }

    .path-list li button {
        display: block;
        padding: 4px 0;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

        .path-list li button:hover {
            background-color: var(--table-hover);
        }

        .path-list li button::after {
            content: '/';
        }

    .path-list li:first-child button {
        padding-right: 5px;
    }

        .path-list li:first-child button::after {
            content: '>';
            margin-left: 5px;
        }

.folder-list {
    border: 1px solid var(--generic-border) !important;
    border-radius: 4px;
    grid-column: span 9;
    border: solid 1px;
    display: block !important;
    overflow: hidden;
}

    .folder-list:hover {
        border-color: var(--neutral-border) !important;
    }

    .folder-list:focus-within {
        border-color: var(--form-accent) !important;
        outline: none;
        box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
    }

.folder-list-header,
.folder-list-body {
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.folder-list-header {
    font-weight: bold;
    background-color: var(--table-header);
    margin-bottom: 0.5rem;
}

.folder-list-body {
    margin: 0;
}

    .folder-list-body button {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
        text-align: left;
        margin: 0;
        padding: 0.5rem 0;
        cursor: pointer;
        color: var(--text-regular);
        background-color: transparent;
        border: none;
        outline: none;
    }

        .folder-list-body button:hover {
            background-color: var(--table-hover);
        }

        .folder-list-body button span.fa-solid {
            margin-right: 0.5rem;
        }

    .folder-list-body .grid div {
        text-align: center;
    }

        .folder-list-body .grid div:first-child {
            text-align: left;
            display: flex;
            align-items: center;
        }

    .folder-list-body .grid {
        grid-column: span 12 !important;
        margin-bottom: 0;
    }

        .folder-list-body .grid:hover {
            background-color: var(--table-hover);
        }

.folder-list .grid {
    gap: 0;
}

.card img.album-cover {
    width: 150px;
}

table.track-list {
    width: 100%;
    margin-bottom: 0;
}

    table.track-list input {
        color: var(--text-regular);
    }
    table.track-list input:focus {
        color: var(--text-dark);
    }

    table.track-list tr.drag-on {
        border-top: 50px solid var(--button-primary-hover);
    }

    table.track-list tr.drag-current {
        display: none;
    }

    table.track-list span.fa-grip {
        cursor: pointer;
    }

    table.track-list tr th:nth-child(1),
    table.track-list tr td:nth-child(1) {
        width: 40px;
        text-align: center;
    }

    table.track-list tr th:nth-child(2),
    table.track-list tr td:nth-child(2) input {
        width: 55px;
        text-align: center;
    }

    table.track-list tr th:nth-child(3),
    table.track-list tr td:nth-child(3) input {
        width: 75px;
        text-align: center;
    }

    table.track-list tr th:nth-child(4),
    table.track-list tr td:nth-child(4) {
        width: 75px;
        text-align: center;
    }

    table.track-list tr th:nth-child(5),
    table.track-list tr th:nth-child(6),
    table.track-list tr th:nth-child(7) {
        text-align: left;
    }

    table.track-list input[type="text"],
    table.track-list input[type="number"] {
        width: 100%;
        border-color: transparent;
        background-color: transparent;
    }

        table.track-list input[type="text"]:focus,
        table.track-list input[type="number"]:focus {
            width: 100%;
            background-color: #fff;
            border-color: var(--button-primary);
        }

.normalization input[type="text"] {
    grid-column: span 8;
}

.normalization div {
    grid-column: span 1;
}

.wizard-steps ul {
    margin-bottom: 0 !important;
}
