@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorApp1</PageTitle>

<input id="menu-toggle-button" type="checkbox" role="button" checked="checked" /> <!-- checked="checked" -->
<label id="menu-toggle-icon" for="menu-toggle-button"><span class="fa-solid fa-angles-right"></span></label>
<header>
    <div>
        <AuthorizeView Policy="IgnoreRole">
            <Authorized>
                Logged in as <em>@_loggedInAs</em>
                <NavLink href="/logout">Logout</NavLink>
            </Authorized>
            <Authorizing>
                Please wait while logging in
            </Authorizing>
            <NotAuthorized>
                <NavLink href="@("/login?redirectUri=" + @NavigationManager.Uri)">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>
<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="/queue">Queue</NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <span class="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("admin/") ? "active" : "")">Admin</span>
                    <ul>
                        <li>
                            <NavLink href="/admin/queue">Queue admin</NavLink>
                        </li>
                    </ul>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</nav>

<main>
    @Body
</main>
