<div>
    <img src="_moduleresource/@(GetType().Assembly.GetName().Name)/welcomeLogo.png" alt="SegnoSharp Logo" />
</div>
<div class="welcome-text">
    <h1>Welcome to SegnoSharp</h1>
    <p>Enjoy an engaging and unpredictable listening experience. Stream the unexpected!</p>
</div>