@using Whitestone.SegnoSharp.Common.Components.Layouts
@inherits LayoutComponentBase
@layout MainLayout
<HeadContent>
    <link rel="stylesheet" type="text/css" href="_moduleresource/@(GetType().Assembly.GetName().Name)/styles.css" />
</HeadContent>
<div class="media-importer">
    @Body
</div>