@page "/admin/playlist"
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.Playlist.Components.Layouts
@using Whitestone.SegnoSharp.Common.Attributes
@attribute [Authorize]
@attribute [ModuleMenu("Playlist", "fa-list-check", true)]

<h1>Playlist admin</h1>