@page "/"
@rendermode InteractiveServer

<div class="welcome">
    <img src="/img/logoFrontpage.png" alt="SegnoSharp Logo" />
    <h1 style="font-size: 3em">Welcome to SegnoSharp</h1>
</div>
<div>
    <h2>Fire events</h2>
    <div>
        <button @onclick="FireEvent_PlayNextTrack_Click">Play next track</button>
        <button @onclick="FireEvent_StartStreaming_Click">Start streaming</button>
        <button @onclick="FireEvent_StopStreaming_Click">Stop streaming</button>
    </div>
</div>