@page "/admin/mediaimporter/step4"
@layout InnerLayout
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@using Whitestone.SegnoSharp.Modules.MediaImporter.Components.Layouts
@attribute [Authorize]

<div class="header-container">
    <h1>Media importer</h1>
</div>

<div class="card-grid">
    <div class="card grid-span-12">
        <div class="wizard-steps">
            <ul>
                <li class="done">Select Folder</li>
                <li class="done">Select Files</li>
                <li class="done">Verify Metadata</li>
                <li class="active">Import</li>
            </ul>
        </div>
    </div>
    <div class="card grid-span-12">
        @{
            bool importBlocked = !ImportComplete && (ImporterState.AlbumsToImport == null || !ImporterState.AlbumsToImport.Any());
        }
        @if (importBlocked)
        {
            <div class="alert alert-error">Nothing to import. Please redo the previous steps.</div>
        }
        else
        {
            @if (!ImportInProgress && !ImportComplete)
            {
                <div class="alert alert-warning">
                    <span>You are about to import @NewAlbumCount new album@(NewAlbumCount is > 1 or < 1 ? "s" : string.Empty), with a total of @NewAlbumTracksCount track@(NewAlbumTracksCount is > 1 or < 1 ? "s" : string.Empty)</span>
                    @if (ExistingAlbumCount > 0)
                    {
                        <span>, and update @ExistingAlbumCount album@(ExistingAlbumCount is > 1 or < 1 ? "s" : string.Empty), with a total of @ExistingAlbumTracksCount track@(ExistingAlbumTracksCount is > 1 or < 1 ? "s" : string.Empty)</span>
                    }
                </div>
            }
            @if (ImportInProgress)
            {
                <div class="alert alert-info">
                    Import in progress. Please wait.
                </div>
            }

            @if (ImportComplete)
            {
                <div class="alert alert-info">
                    Import complete!
                </div>
            }
        }
    </div>

    @if (!ImportComplete && !ImportInProgress)
    {
        <div class="grid-span-12 text-right">
            <button class="secondary" @onclick="OnBackClick">&lt; Back</button>
            <button class="primary" @onclick="DoImport" disabled="@(importBlocked)">Finish &gt;</button>
        </div>
    }
</div>