<div class="ProgressBar">
    <div class="wrapper">
        <div class="progress-bar">
            <span class="progress-bar-fill" style="width: @(Percentage)%"></span>
        </div>
    </div>
</div>
