.playlist-settings {
    background-color: var(--bg-darkergray); /* Lighter than secondary-color */
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--light-text);
    overflow: hidden;
}


.settings-body .form-group {
    display: flex;
    grid-template-columns: 1fr 150px;
    gap: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
}

    .settings-body .form-group:first-child {
        padding-top: 1rem;
    }

    .settings-body .form-group:last-child {
        padding-bottom: 1rem;
    }

    .settings-body .form-group label {
        flex: 1;
        font-weight: 500;
    }

    .settings-body .form-group input {
        padding: 0.5rem;
        border: 1px solid var(--bg-darkgray);
        border-radius: 4px;
        background-color: var(--bg-darkergray);
        color: var(--light-text);
    }


.settings-header {
    background-color: var(--bg-darkgray); /* Slightly darker than processor bg */
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--light-text);
    margin-bottom: 0.25rem;
}

    .settings-header span {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-right: auto;
    }

    .settings-header button {
        background-color: var(--bg-darkgray);
        color: var(--light-text);
        border: 1px solid var(--bg-gray);
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        .settings-header button:hover {
            background-color: var(--bg-gray);
        }

.playlist-settings[class~=disabled] .settings-header span {
    color: var(--bg-lightgray)
}

div.drag-on {
    border-top: solid 51px var(--hover-color) !important;
    padding-top: 1rem;
}

div.drag-current {
    display: none;
}

span[class~="fa-grip"] {
    cursor: grab
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-result {
    margin: 0;
    padding: 0.5rem;
}

    .search-result:hover {
        background-color: var(--hover-bg);
    }

    .search-result > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .search-result > div:nth-child(2) {
            display: block;
        }

    .search-result[class~="drag-search"],
    .currently-playing {
        background-color: var(--bg-lightyellow);
    }

.playlist-item {
    margin-bottom: 0 !important;
    padding: 5px 0 !important;
}

    .playlist-item:hover {
        background-color: var(--hover-bg);
    }

    .playlist-item img {
        margin: 0 !important;
    }
