.playlist-settings {
    background-color: var(--bg-darkergray); /* Lighter than secondary-color */
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--light-text);
    overflow: hidden;
}


.setting-group {
    display: flex;
    grid-template-columns: 1fr 150px;
    gap: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
}

    .setting-group:first-child {
        padding-top: 1rem;
    }

    .setting-group:last-child {
        padding-bottom: 1rem;
    }

    .setting-group label {
        flex: 1;
        font-weight: 500;
    }

    .setting-group input {
        padding: 0.5rem;
        border: 1px solid var(--bg-darkgray);
        border-radius: 4px;
        background-color: var(--bg-darkergray);
        color: var(--light-text);
    }


.settings-header {
    background-color: var(--bg-darkgray); /* Slightly darker than processor bg */
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--light-text);
    margin-bottom: 0.25rem;
}

    .settings-header span {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-right: auto;
    }

    .settings-header button {
        background-color: var(--bg-darkgray);
        color: var(--light-text);
        border: 1px solid var(--bg-gray);
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        .settings-header button:hover {
            background-color: var(--bg-gray);
        }

.playlist-settings[class~=disabled] .settings-header span {
    color: var(--bg-lightgray)
}

div.drag-on {
    border-top: solid 51px var(--hover-color) !important;
    padding-top: 1rem;
}

div.drag-current {
    display: none;
}

span[class~="fa-grip"] {
    cursor: grab
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-result {
    margin: 0;
    padding: 0.5rem;
}

    .search-result:hover {
        background-color: var(--hover-bg);
    }

.search-result > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
    .search-result > div:nth-child(2) {
        display: block;
    }

    .search-result[class~="drag-search"] {
        background-color: var(--bg-lightyellow);
    }


    .playlist-search-actions div.handle {
        display: flex;
        text-align: center;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: var(--bg-lightestgray);
        border: solid 1px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

.playlist-search-actions div.actions {
    display: none;
}

    .playlist-search-actions div.handle:hover ~ div.actions,
    .playlist-search-actions div.actions:hover {
        display: block;
        position: absolute;
        margin-left: -165px; /* width - handle.width - borderradius */
        margin-top: 84px; /* Don't know how this value adds up */
        width: 200px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        border: solid 1px var(--bg-lightgray);
        box-shadow: 0 0 10px var(--bg-lightgray);
    }

    .playlist-search-actions div.actions button {
        display: block;
        width: 100%;
        text-align: left;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color: black;
        padding: 5px 10px;
        cursor: pointer;
    }

        .playlist-search-actions div.actions button:hover {
            color: #fff;
            background-color: #3265cb;
        }
