@page "/admin/queue"
@using Whitestone.SegnoSharp.Database.Models
@attribute [Authorize]

<h1>Queue Admin</h1>

<div>
    <input type="number" @bind="GenerateAmount" />
    <button @onclick="GenerateQueue">Generate</button>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>TrackId</th>
                <th>Artist</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (PlaylistMetadataView item in GeneratedItems)
            {
                <tr>
                    <td>@item.TrackId</td>
                    <td>@string.Join('|', item.Artist)</td>
                    <td>@item.CumulativeWeight</td>
                </tr>
            } *@
        </tbody>
    </table>
</div>