@page "/admin/albums/genres"
@rendermode InteractiveServer
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.AlbumEditor.Components.Layouts
@using Whitestone.SegnoSharp.Common.Attributes
@using Whitestone.SegnoSharp.Database.Models
@attribute [Authorize]
@attribute [ModuleMenu("Genres", typeof(Albums), true)]

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<h1>Genres</h1>

@if (DbGenres.Count == 0)
{
    <div class="alert alert-info">No genres found</div>
}
else
{
    <div class="card-grid">
        <div class="card card-span-12">
            @foreach (Genre genre in DbGenres)
            {
                <div class="form-group">
                    <input type="text" class="card-span-11" @bind="@genre.Name" />
                    <div class="card-span-1 text-center">
                        <button class="tertiary" @onclick="() => RemoveGenre(genre)"><span class="fa-regular fa-circle-xmark"></span></button>
                    </div>
                </div>
            }
        </div>
    </div>
}
<div>
    <button class="secondary" @onclick="AddGenre">Add new genre</button>
    <button class="primary" @onclick="SaveChanges" disabled="@(!DbContext.ChangeTracker.HasChanges())">Save</button>
    <button class="primary" @onclick="DiscardChanges" disabled="@(!DbContext.ChangeTracker.HasChanges())">Discard changes</button>
</div>