@page "/admin/albums/mediatypes"
@rendermode InteractiveServer
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.AlbumEditor.Components.Layouts
@using Whitestone.SegnoSharp.Common.Attributes
@using Whitestone.SegnoSharp.Database.Models
@attribute [Authorize]
@attribute [ModuleMenu("Media types", 500, typeof(Albums), true)]

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<h1>Media Types</h1>

@if (DbTypes.Count == 0)
{
    <div class="alert alert-info">No media types found</div>
}
else
{
    <div class="card-grid">
        <div class="card card-span-12">
            @foreach (MediaType type in DbTypes.OrderBy(t => t.SortOrder))
            {
                <div draggable="true"
                     ondragover="event.preventDefault();"
                     @ondragstart="() => HandleDragStart(type)"
                     @ondrop="() => HandleDrop(type)"
                     @ondragend="HandleDragEnd"
                     @ondragenter="() => HandleDragEnter(type)"
                     class="form-group @(_currentlyDraggingType == type ? "drag-current" : _currentlyDraggingOverType == type ? "drag-on" : null)">
                    <div class="card-span-1 text-center">
                        <span class="fa-solid fa-grip"></span>
                    </div>
                    <input type="text" class="card-span-10" @bind="@type.Name" />
                    <div class="card-span-1 text-center">
                        <button class="tertiary" @onclick="() => RemoveType(type)"><span class="fa-regular fa-circle-xmark"></span></button>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div>
    <button class="secondary" @onclick="AddType">Add new media type</button>
    <button class="primary" @onclick="SaveChanges" disabled="@(!DbContext.ChangeTracker.HasChanges())">Save</button>
    <button class="primary" @onclick="DiscardChanges" disabled="@(!DbContext.ChangeTracker.HasChanges())">Discard changes</button>
</div>