

.FileList th {
    text-align: right;
    border-right: solid 1px #ccc;
    padding: 10px;
    background-color: #eee;
}

    .FileList th:first-child {
        text-align: left;
    }

.FileList tbody tr:hover {
    background-color: #fff;
}

.FileList tbody td {
    padding: 5px;
    cursor: default;
}

    .FileList tbody td:not(:first-child) {
        text-align: right;
        padding-right: 10px;
    }

table.Editor th {
    text-align: left;
    padding-right: 5px;
}

table.DraggableTable {
    border-spacing: 0;
}

    table.DraggableTable tr td {
        padding: 2px 5px;
    }

    table.DraggableTable tr.drag-on td {
        border-top: solid 25px var(--bg-lightyellow);
    }

    table.DraggableTable tr.drag-current {
        display: none;
    }





.TagList {
    font-size: 15px;
    padding: 3px;
    outline: solid 1px #767676;
    grid-column: span 9;
}

    .TagList:focus-within {
        outline: solid 2px black;
    }

    .TagList > span {
        display: inline-flex;
        margin-right: 5px;
        padding: 2px 3px 2px 5px;
        border: solid 1px black;
        border-radius: 5px;
        background-color: #f8e496;
    }

    .TagList span button {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 3px 0 0 3px;
        cursor: pointer;
        background-color: transparent;
        border: 0;
    }

        .TagList span button span {
            border-radius: 15px;
        }

        .TagList span button:hover span {
            background-color: var(--bg-yellow);
        }

    .TagList input {
        font-size: 15px;
        padding: 2px 4px 2px 5px;
        border: none;
    }

        .TagList input:focus-visible {
            outline: none;
        }

    .TagList > div {
        position: absolute;
        background-color: white;
        border: solid 1px black;
        border-radius: 5px;
    }

        .TagList > div:empty {
            border: none;
        }

        .TagList > div > button {
            display: block;
            background-color: #f8e496;
            border: solid 1px black;
            border-radius: 5px;
            padding: 2px 3px 2px 5px;
            margin: 5px;
            cursor: pointer;
        }

            .TagList > div > button.New {
                background-color: white;
                margin-left: 3px;
            }




.album-cover {
    text-align: center;
}
.album-cover img {
    max-width: 100%;
}