

.taglist {
    border: 1px solid var(--bg-lightgray);
    padding: 10px;
    border-radius: 4px;
    grid-column: span 9;
}

    .taglist:hover {
        border-color: var(--bg-darkgray);
    }

    .taglist:focus-within {
        border-color: var(--primary-color);
        box-shadow: 0 0 0 2px rgba(255, 215, 0, 0.2);
    }

    .taglist .selected {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 10px;
    }

        .taglist .selected .tag {
            background: var(--bg-lightyellow);
            padding: 5px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
        }

            .taglist .selected .tag button {
                border: none;
                background-color: transparent;
                color: var(--text-color);
                margin-top: 3px;
                cursor: pointer;
            }

                .taglist .selected .tag button:focus {
                    outline: none;
                }

                    .taglist .selected .tag button:focus span {
                        font-weight: 800;
                    }

    .taglist input[type="text"] {
        border: none;
        outline: none;
        padding: 0;
        width: 100%;
        font-size: 1rem;
    }

        .taglist input[type="text"]:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }


    .taglist .tag-suggestions {
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        background-color: var(--bg-lightestgray);
        box-shadow: 0 0 5px 0 var(--bg-lightergray);
    }

        .taglist .tag-suggestions .suggestion {
            display: block;
            width: 100%;
            padding: 8px 12px;
            cursor: pointer;
            text-align: left;
            border: none;
            outline: none;
            background-color: transparent;
        }

            .taglist .tag-suggestions .suggestion:hover {
                background-color: var(--bg-lightergray);
            }

            .taglist .tag-suggestions .suggestion[class~="new"] {
                font-style: italic;
                color: var(--bg-gray);
            }

                .taglist .tag-suggestions .suggestion[class~="new"] span {
                    margin-left: 0.3rem;
                }

    .taglist .tag-input select {
        width: 100%;
        font-size: 1rem;
        color: var(--bg-midgray);
    }

        .taglist .tag-input select option {
            color: black;
        }

            .taglist .tag-input select option[value="0"] {
                color: var(--bg-midgray);
                display: none;
            }


.album-editor table {
    width: 100%;
}

table.tracks tr th:nth-child(1) {
    width: 40px;
}

table.tracks tr th:nth-child(2) {
    width: 75px;
}

table.tracks tr th:nth-child(3) {
    width: 80px;
}

table.tracks tr.drag-on td {
    border-top: solid 2.5rem var(--hover-color) !important;
}

table.tracks tr.drag-current {
    display: none;
}

table.tracks tr.track-group {
    background-color: var(--bg-lightyellow);
}

    table.tracks tr.track-group div.form-group {
        margin-bottom: 0 !important;
    }

    table.tracks tr.track-group input {
        font-weight: bold;
    }


.album-cover {
    text-align: center;
}

    .album-cover img {
        max-width: 100%;
    }

.form-group[class~="drag-on"] {
    border-top: solid 40px var(--hover-color) !important;
    padding-top: 1rem;
}

.form-group[class~="drag-current"] {
    display: none;
}

span[class~="fa-grip"] {
    cursor: grab
}
