@page "/playlist/history"
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.Playlist.Components.Layouts
@using Whitestone.SegnoSharp.Common.Attributes
@attribute [ModuleMenu("History", typeof(Playlist))]

<h1>History</h1>