@page "/playlist/history"
@using Whitestone.SegnoSharp.Common.Attributes
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@attribute [ModuleMenu("History", typeof(Playlist))]

<h1>History</h1>