@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorApp1</PageTitle>

<input id="menu-toggle-button" type="checkbox" role="button" checked="checked" /> <!-- checked="checked" -->
<label id="menu-toggle-icon" for="menu-toggle-button"><span class="fa-solid fa-angles-right"></span></label>
<header>
    <div class="auth">
        <AuthorizeView Policy="IgnoreRole">
            <Authorized>
                Logged in as <em>@_loggedInAs</em>
                <NavLink href="/logout">Logout</NavLink>
            </Authorized>
            <Authorizing>
                Please wait while logging in
            </Authorizing>
            <NotAuthorized>
                <NavLink href="@("/login?redirectUri=" + @NavigationManager.Uri)">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="headerLogo">
        <img src="img/logoHeader.png" alt="SegnoSharp Logo" />
    </div>
</header>
<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All"><span class="fa-solid fa-house"></span>Home</NavLink>
        </li>
        <li>
            <NavLink href="/queue"><span class="fa-solid fa-list"></span>Queue</NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <span class="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("admin/") ? "active" : "")"><span class="fa-solid fa-screwdriver-wrench"></span>Admin</span>
                    <ul>
                        <li>
                            <NavLink href="/admin/queue"><span class="fa-solid fa-list-check"></span>Queue admin</NavLink>
                        </li>
                        <li>
                            <NavLink href="/admin/import"><span class="fa-solid fa-file-import"></span>Import</NavLink>
                        </li>
                    </ul>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</nav>

<main>
    @Body
</main>
